@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap");

:root {
    --background: #ffffff;
    --foreground: #171717;
    --border-radius-md: 8px; /* For rounded corners */
    --border-color: #e0e0e0; /* Light gray border color */
    --main-color: #007bff; /* Main brand color */
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    color: var(--foreground);
    background: var(--background);
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    margin-bottom: 50px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
